<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Nutrio Site">
        <meta property="og:description" content="El diario de una persona normal.">
        <meta property="og:image" content="/nutrio/img/screenshot.png">
        <meta property="og:url" content="https://fmbll.github.io/nutrio/">
        <meta property="og:type" content="website">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="header">
            <a href="/" class="logo">{{ metadata.title }}</a>
            <nav>
                <ul class="nav">
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/archive">Archivos</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/fermbll/" target="_blank">@fermbll</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main">
            {{ content | safe}}
        </main>
        <footer class="footer">
            <small>Coyright &copy; 2024</small>
        </footer>
    </body>
</html>