---
layout: base.njk
---

<div class="box">¡Hola! 🖐🏻 el sitio esta en su version 1.0.0 <i>BETA</i></div>
<hgroup class="center">
    <h1>¡Bienvenidos a mi blog!</h1>
    <h2>El diario de una persona normal.</h2>
</hgroup>
