---
layout: base.njk
---
<div class="message">¡Hola!, 🖐🏻 el sitio es basado en hechos reales.</div>
<hgroup>
    <h1>¡Bienvenidos!</h1>
    <h2>El diario de una persona normal.</h2>
</hgroup>
<p>
    <a href="/archive" class="button-link">
        ¡Comenzar a Leer!
        <svg width="42" height="42" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m19 12-7-6v5H6v2h6v5l7-6Z"></path>
        </svg>
    </a>
</p>